.modal {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.724);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal .modal-box {
  padding: 50px;
  border-radius: 10px;
  background-color: #ffffff;
  position: relative;
}

.modal .modal-box h1 {
  margin-bottom: 40px;
  font-size: 24px;
  color: #333333;
}

.modal .modal-box .close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.modal .modal-box form {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  justify-content: space-between;
}

.modal .modal-box form .item {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.modal .modal-box form .item label {
  font-size: 14px;
}

.modal .modal-box form .item input {
  padding: 10px;
  background-color: transparent;
  /* color: white; */
  outline: none;
  border: 1px solid #333333;
  border-radius: 3px;
}

/* .modal .modal-box form button {
  width: 100%;
  padding: 10px;
  cursor: pointer;
} */
